/* Colors */
:root {
  --color-primary: #9741eb; /* dark purple */
  --color-primary-dark: #5e14a7; /* darker purple */
  --color-secondary: #ce35e7; /* light purple */
  --color-accent: #ff9358; /* orange */
  --color-accent-dark: #ff6c1b; /* dark orange */
  --color-base-lightest: #ffffff; /* white */
  --color-base-lighter: #f6f6f6; /* off white */
  --color-base-light: #c5c5c5; /* light gray */
  --color-base-dark: #3c3c3c; /* gray */
  --color-base-darker: #343434; /* dark gray */
  --color-base-darkest: #000000; /* black */
}

/* Fonts */
:root {
  --font-main: 'Lato', sans-serif;
}

/* Layout */
:root {
  --container-width: 1200px;
  --inner-width: 925px;
}

/* Base */
html, body {
  font-family: var(--font-main);
  margin: 0;
  height: 100%;
}
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;
}
.inner {
  max-width: var(--inner-width);
  margin: 0 auto;
}
ul,ol {
  margin: 0;
  padding: 0;
}
pre {
  font-size: 1.15em;
  background-color: var(--color-base-dark);
  background-color: var(--color-primary);
  color: var(--color-base-lightest);
  display: inline-block;
  padding: 3px 5px;
}

/* Elements */
ol.counter {
  list-style: none;
  counter-reset: plentiform-counter;
}
ol.counter li {
  counter-increment: plentiform-counter;
  margin-bottom: 4vw;
}
ol.counter li::before {
  content: counter(plentiform-counter) ". ";
  color: var(--color-base-lightest);
  background-color: var(--color-primary);
  padding: 11px 6px 10px 15px;
  margin-right: 10px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.5rem;
}
ul.checkmark {
  list-style-image: url(/images/checkmark.svg);
  list-style-position: inside;
}
ul.checkmark li {
  margin-bottom: 20px;
}
.button {
  padding: 8px 15px;
  background-image: linear-gradient(to right, var(--color-accent-dark), var(--color-accent));
}
.button:hover {
  box-shadow: .5rem .5rem 0 0 rgba(113,91,210,.1);
  background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary));
  color: var(--color-base-lightest);
}
.title {
  text-align: center;
  margin-bottom: 2.5vw;
}
.title h2 {
  display: inline-block;
  border-bottom: 4px solid var(--color-accent);
}
.rainbow-text:hover {
  background: linear-gradient(to right, var(--color-accent-dark), var(--color-accent), var(--color-secondary), var(--color-primary), var(--color-primary-dark), var(--color-accent), var(--color-accent-dark));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hidden {
  display: none;
}
