<footer>
  <div class="container">
    <ul class="social">
      <li><a href="https://github.com/plentiform" target="_blank" rel="noopener noreferrer">Github</a></li>
      <li><a href="https://twitter.com/plentiform" target="_blank" rel="noopener noreferrer">Twitter</a></li>
      <li><a href="https://www.youtube.com/playlist?list=PLbWvcwWtuDm2rQaZ8dF9zVHbOYdJ157_w" target="_blank" rel="noopener noreferrer">YouTube</a></li>
    </ul>
    <ul class="info">
      <li><a href="https://plentiform.com/pricing">Pricing</a></li>
      <li><a href="https://docs.plentiform.com">Documentation</a></li>
    </ul>
    <ul class="account">
      <li><a href="https://plentiform.io/signup">Sign Up</a></li>
      <li><a href="https://plentiform.io/login">Log in</a></li>
    </ul>
    <div class="brand">
      {{ partial "brand.html" . }}
      <div class="slogan">Build sites with good form</div>
    </div>
  </div>
</footer>
<div id="footer-bottom">
  Plentiform © 2019
</div>
