<nav>
  <div class="container">
  <a id="brand" href="/">{{- partial "brand.html" . -}}</a>
  <ul id="main-menu">
    <li><a href="doc.plentiform.com" target="_blank" rel="noopener noreferrer">Docs</a></li>
    <li><a href="https://github.com/plentiform/plentiform" target="_blank" rel="noopener noreferrer">Code</a></li>
    <li><a href="/Pricing">Pricing</a></li>
    <li><a href="plentiform.io" target="_blank" rel="noopener noreferrer">Sign In</a></li>
    <li><a href="demo.plentiform.io" target="_blank" rel="noopener noreferrer" class="button">Demo</a></li>
  </ul>
  </div>
</nav>
