<head>
  <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,900" rel="stylesheet">

  {{ $style := resources.Get "main.css" }}

  {{ $all := slice }}
  {{ $components := readDir "themes/plentiform/assets/components" }}
  {{ range $components }}
    {{ $component := resources.Get (printf "components/%s" .Name) }}
    {{ $all = slice $component $style | resources.Concat .Name }}
  {{ end }}

  {{ $all := $all | minify | fingerprint }}  
  <link rel="stylesheet" href="{{ $all.Permalink }}">

</head>
