<nav>
  <div class="container">
    <div id="brand">
      <a href="/">{{ partial "brand.html" . }}</a>
    </div>
    <input type="checkbox" id="toggle" class="hidden"/>
    <label for="toggle" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </label>
    <ul id="main-menu">
      <li><a href="https://docs.plentiform.com" target="_blank" rel="noopener noreferrer">Docs</a></li>
      <li><a href="https://github.com/plentiform/plentiform" target="_blank" rel="noopener noreferrer">Code</a></li>
      <li><a href="/Pricing">Pricing</a></li>
      <li><a href="https://plentiform.io" target="_blank" rel="noopener noreferrer">Sign In</a></li>
      <li><a href="https://demo.plentiform.io" target="_blank" rel="noopener noreferrer" class="button">Demo</a></li>
    </ul>
  </div>
</nav>
