<head>
  <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,900" rel="stylesheet">

  {{ $style := resources.Get "css/main.css" }}
  {{ $components := readDir "themes/plentiform/assets/css/components" }}
  {{ range $components }}
    {{ $component := resources.Get (printf "css/components/%s" .Name) }}
    {{ $style = slice $component $style | resources.Concat .Name }}
  {{ end }}

  {{ $style = slice $style | resources.Concat "all.css" }}
  {{ $style := $style | minify | fingerprint }}  
  <link rel="stylesheet" href="{{ $style.Permalink }}">

</head>
