/* Colors */
:root {
  --color-primary: #61d4ff; /* blue */
  --color-secondary: #91ff84; /* green */
  --color-tertiary: #fffc7d; /* yellow */
  --color-base-lightest: #ffffff; /* white */
  --color-base-dark: #3c3c3c; /* gray */
  --color-base-darker: #343434; /* dark gray */
  --color-base-darkest: #000000; /* black */
}

/* Fonts */
:root {
  --font-main: 'Lato', sans-serif;
}

/* Layout */
:root {
  --max-width: 1200px;
}

/* Base */
body {
  font-family: var(--font-main);
  margin: 0;
}
.container {
  max-width: var(--max-width);
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
}
