#grid {
  padding: 100px 0;
}
#grid .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#grid h2,
#grid .description {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}
#grid .description {
  color: var(--color-base-dark);
  margin-bottom: 20px;
}
#grid a {
  align-self: center;
  margin: 4vw;
}
#grid img {
  max-width: 100%;
}
@media (max-width: 600px) {
  #grid {
    padding: 40px 0;
  }
}
