#hero {
  background-image: linear-gradient(to right, var(--color-primary), var(--color-secondary));
  color: var(--color-base-lightest);
  height: 35vw;
  display: flex;
  align-items: center;
}
#hero .container {
  flex: 1;
  font-weight: 900;
  font-size: 2rem;
  margin-top: -100px
}
#hero a {
  color: var(--color-accent);
}
@media (max-width: 950px) {
  #hero .container {
    margin-top: 0;
    font-size: 1.5rem;
  }
}
@media (max-width: 450px) {
  #hero .container {
    font-size: 1rem;
  }
}
