{{ define "main" }}
{{ if (isset .Params "components") }}
  {{ range .Params.components }}
    {{ if .hero }}
      {{ partial "hero.html" (dict "context" . "hero" .hero) }}
    {{ end }}
    {{ if .how_to }}
      {{ partial "how_to.html" (dict "context" . "how_to" .how_to) }}
    {{ end }}
    {{ if .list }}
      {{ partial "list.html" (dict "context" . "list" .list) }}
    {{ end }}
    {{ if .grid }}
      {{ partial "grid.html" (dict "context" . "grid" .grid) }}
    {{ end }}
  {{ end }}
{{ end }}
{{ end }}
